* html {margin:	0;	padding:	0;}
* html body { height: 100%;}

body		{
	font-family : tahoma, osaka, taipei, verdana, arial, helvetica, sans-serif;
	color: #000000;
	font-size: 12px;
	margin: 0 auto;
	padding: 0;
	width:778px;
}

a {
	text-decoration: none;
	color: #666666;font-weight: bold;
	background-color: transparent;
}

a:hover		{
    text-decoration: none;
    	color: #ff9966;
    	font-weight: bold;
    	background-color: transparent;
}

td		{
    font-family : tahoma, osaka, taipei, verdana, arial, helvetica, sans-serif;
	color: #000000;
	font-size: 12px;
	border-top-width : 1px;
	border-right-width : 1px;
	border-bottom-width : 1px;
	border-left-width : 1px;
}

img		{	border:0;			}
div		{	text-align: center;		}
.bg1        {        background-color: #f7f7f7; color: #000000;       }
.bg2        {        background-color: #000000; color: #ffffff;       }
.bg3        {        background-color: #2f5376; color: #f9b743;       }
.bg4        {        background-color: #f5f5f5; color: #000000;       }
.bg5        {        background-color: #f5f5f5; color: #000000;       }
.fg1        {        color: #f9b743;                                  }
.fg2        {        color: #000000;                                  }

input		{
    border-right: #000000 1px solid;
	border-top: #000000 1px solid;
	font: 8pt verdana, arial, helvetica;
	border-left: #000000 1px solid;
	color: #000000;
	border-bottom: #000000 1px solid;
	background-color: #f7f7f7
}

select {
    border-right: #000 1px solid;
    border-top: #000 1px solid;
    background-color: #f7f7f7;
    font: 8pt verdana, arial, helvetica;
    border-left: #000 1px solid;
    color: #000;
    border-bottom: #000 1px solid;
}
table {
    border : 0;
}

.bg_table	 {	background-image:url('img/bg_table.gif');		}
.hbar_middle {	background-image:url('img/hbar_middle.gif');	}
.bg_darkblue {	background-image:url('img/bg_darkblue.gif');	}